
<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/layout">

<section layout:fragment="content">


	<h2 th:text="${author.name}"></h2>
 
	<table>
	
	<tr th:each="book : ${author.books}">
	
		<td ><a	th:href="@{/book/{id}(id=${book.id})}" th:text="${book.title}" >Περισσότερα</a>1</td>
	</tr>
	</table>

</section>

</html>