 
     #menu   p, ul, li, div, nav
        {
            padding:0;
            margin:0;
        }

        body
        {
            font-family:Calibri;
        }

        #menu {
            overflow: auto;
            position:relative;
            z-index:2;
             font-family:Calibri;
             text-transform:uppercase;
        }

        .parent-menu {
            background-color: #E9E7E2;
            min-width:200px;
            float:left;
          
        }

        #menu ul
        {
            list-style-type:none;
        }

        #menu ul li a,.menu-title
        {
            padding:10px 15px;
            display:block;
            color:#9d9d9d;
            text-decoration:none;
        }


            #menu .parent-menu > li  a:hover
            {
                background-color:#82b440;
            	color:#333;
            }
            #menu .submenu li a:hover
            {
                background-color:#2e2e2e;
                color:#fff;
            }
               

            #menu ul li:hover > ul {
                left: 200px;
                -webkit-transition: left 200ms ease-in;
                -moz-transition: left 200ms ease-in;
                -ms-transition: left 200ms ease-in;
                transition: left 200ms ease-in;
            }

            #menu ul li > ul {
                position: absolute;
                background-color: #333;
                top: 0;
                left: -200px;
                min-width: 200px;
                z-index: -1;
                height: 100%;
                -webkit-transition: left 200ms ease-in;
                -moz-transition: left 200ms ease-in;
                -ms-transition: left 200ms ease-in;
                transition: left 200ms ease-in;
            }

          
 

.category-title {
    color: grey;
    font-family: calibri;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 15px;
    padding: 20px;
    text-transform: uppercase;
    background-color:#E9E7E2;
}
/**************************************

		GENERAL 

*************************************** */
a{
	outline:none !important; 
}

a:hover{
	text-decoration: none;
}
.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.clearfix {
    display: inline-block;
}
.clearfix {
    display: block;
}

.bordered-panel{
	
	background: #fff none repeat scroll 0 0;
    border: 1px solid #e1e8ed;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 15px 25px;
	
}

.custom-btn{
	
/* 	background-color: #82b440; */
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
/*     box-shadow: 0 2px 0 #6f9a37; */
/*     position: relative; */
}


.green-btn{
	color:white;
	background-color: #82b440;
	box-shadow: 0 2px 0 #6f9a37;
}


.subtitle {
    border-bottom: 1px solid #d4d4d4;
    color: #545454;
   
}

.detail{
	margin:2px 3px 2px 0px;
}
h5.subtitle{
	
	padding-bottom: 10px;
	
}
h3.subtitle{
	font-size: 18px;
    line-height: 27px;
    padding-bottom: 10px;
}
.cut-text { 
	text-overflow: ellipsis;
	 overflow: hidden; 
/* 	 white-space: nowrap;  */
}

/**************************************

		FOOTER 

*************************************** */

/* .footer{ */
/* 	margin-top:15px; */
/* 	background-color:#222222; */
/* 	color:#9d9d9d; */
/* } */




/**************************************

		HOMEPAGE 

*************************************** */

.homepage .category-menu , 
.category .category-menu{
	width:40%;
	float:left;
}
.homepage .book-min {
	width:60%;
	float:right;
}

.book-min .thumbnail:hover{
	background-color:#E9E7E2;
}
 .book-min .book-min-item .info{ 
	
	border-bottom: 1px solid #e1e8ed;
	padding-bottom:10px;
}

 .book-min .book-min-item .title{
	
	color:#333;
	text-align:center;
	
}
.book-min .book-min-item .title.cut-text{
	
	height:2.4em;
	line-height:1.2em;
 }
 
 .book-min .book-min-item .price{
 
	font-size:18px;
/* 	color:#FB7A01; */
	text-align:center;
 
 }
 
.book-min .book-min-item .buttons{
 
 	padding:10px 0;
 }
 
.book-min .book-min-item .book-cover{
 	height:235px;
 	margin-bottom:2px;
 }
 
 .category .book-min{
 	float:left;
 	width:60%;
 }
 
 .subcat > a{
border: 1px solid;
    border-radius: 3px;
    color: #9d9d9d;
    float: left;
    height: 100px;
    margin: 0 5px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: text-top;
    width: 140px;
}
/**************************************

		CART 

************************************** */
 .cart-link{
 color:#FB7A01;
 text-align:right;
 width:100%;
/*  color: #82b440; */
 
 }
/**************************************

		BOOK 

************************************** */
.book .main-section,
.book .bottom-section{
	width:60%;
	padding:10px 0;
}
.book .bordered-panel.book-details{
	
	width:40%;
}

.book .bordered-panel.purchase-panel{
	
	width:55%;
}

.book .bordered-panel.purchase-panel .green-btn{

	width:95%;
}

.book .book-details .img-thumbnail{
	margin-bottom:10px;
}

.book  .title {
    float: left;
    width: 80%;
}


.book .price.glyphicon.glyphicon-euro {
    float: left;
    width: 10%;
}

.book .subtitle {
    float: left;
    width: 100%;
}

.book .gift {
    float: left;
    height: 25px;
    line-height: 25px;
    margin-bottom: 15px;
}
.book .gift .glyphicon-gift{
	font-size:22px;
	color:#FF6100;
	
}

.book .rignt-side-panel.bordered-panel {
    float: left;
    margin-top: 6% !important;
    width: 35%;
}

.book .series .panel-header{
	
	border-bottom : 1px solid #FF6100;
}


/* Search bar */

.search-bar {
    margin: 20px auto;
    width: 100%;
}
 .search-field {
    height: 34px;
    width: 40%;
}
.search-ddc {
    height: 34px;
}