
<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/layout">
<section layout:fragment="content">
	 <div class="book-min" th:fragment="displayBookMin">
 		 <div class="col-sm-2 col-md-4  book-min-item" th:object="${book}" th:each="book,status : ${books}">
					<div class="thumbnail">
					<a th:href="@{/book/{id}(id=*{id})}">
	 					<img  class="book-cover"  th:src="*{img}" alt="..." />
 							<div class="info">
								<div class="title cut-text" th:text="*{title}"></div> 
		 						<div class="price" th:text="*{price}"></div>
								<div class="clearfix"></div>
							</div>	
 					</a>
				<form class="cartForm" action="#" method="post">
					<input type="hidden" 	th:name="id" 	th:value="${book.id}" /> 
					<input type="hidden" 	th:name="title" th:value="${book.title}" /> 
					<input type="hidden"	th:name="price" th:value="${book.price}" /> 
					<input type="hidden"	th:name="img" 	th:value="${book.img}" /> 
					<input type="submit"  class="btn custom-btn green-btn" role="button" th:value="#{cart.add}"/>
				</form>
		 	</div>		
		</div>
	</div>
 </section>
</html>