<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/layout">

<section layout:fragment="content">

	<div class="book">
 	<div th:if="${session.shoppingCart!=null and #lists.contains(session.shoppingCart.itemIds,''+book.id)}"  >
 		<div class="alert alert-success" role="alert">
 			<span th:text="'To προιον βρισκεται ηδη στο '"></span>
 			<a th:href="@{/cart}" th:text="'καλαθι σας'"></a>
 		</div>
 	</div>
  		<div class="main-section pull-left">
			<div class="bordered-panel book-details pull-left">
				<img th:src="${book.img}" class="img-thumbnail" alt="Cinque Terre"></img>
				<div class="detail" th:each="author : ${book.authors}">
					 <span class="glyphicon  glyphicon-pencil"></span> 
					 <a th:href="@{/author/{id}(id=${author.id})}" th:text="${author.name}"></a> 
				</div>
				<div class="detail">
					<span>Σειρα βιβλιων</span>
				</div>
				<div class="detail">
					<span>Ekdoseis</span>
				</div>
				<div class="detail">
					<span>Ετος κυκλοφοριας</span>
				</div>
				<div class="detail">
					<span>Αριθμος σελιδων</span>
				</div>
			</div>
			<div class="bordered-panel purchase-panel pull-right">
				<div class="purchase-panel-title">
					<h3 class="title" th:text="${book.title}"></h3>
					<h3 class="price glyphicon glyphicon-euro" th:text="${book.price}"></h3>
					<h5 class="subtitle" th:text="${book.subtitle}"></h5>
				</div>
				<div th:replace="fragments/addToCart :: addToCart(${book})"></div>
			</div>
		</div>
		
		
			
		<div class="clearfix"></div>
		
		<div class="bottom-section pull-left">
			<h3   class="subtitle">Συνοψη</h3> 
			<span class="icon-book-open"></span> 
			<span class="glyphicon glyphicon-book-open"></span> 
			<div class="clearfix"></div>
			<span th:text="${book.summary}"></span>
		</div>
		<div  class="series" >
		<div th:replace="fragments/series :: series"></div>
		</div>
			<div class="clearfix"></div>
		
	</div>
	
	

	
</section>
</html>