<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/layout">
 
<section layout:fragment="content">
	<h2>Shopping cart</h2>
	    <form action="#" th:action="@{/cart/checkout}" th:object="${greeting}" method="post">
		<table class="cart">	
    	
		<tr class="row" th:id="'row_' + ${stat.count}"  th:each="item ,stat: ${shoppingCart.items}" th:object="${item}">
		<td class="col-xs-6 col-md-2"> 
				<input type="hidden" id="itemID" th:value="*{itemId}"/> 
			</td>
			<td class="col-xs-6 col-md-2"> 
				<img style="min-width:100px;width:100px;" th:src="*{img}" class="thumbnail" alt="Cinque Terre"></img>  
			</td>
			<td class="col-xs-6 col-md-4">
				<label th:text="*{description}"> </label>
			</td>
			<td th:id="'item_' + ${stat.count}" class="col-xs-6 col-md-4 ">
 				<a  class="decreaseQty">
 					<span class="glyphicon glyphicon-minus"></span>
 				</a>
 				<label id="qty" th:text="*{quantity}"></label>
				<a  class="increaseQty">
					<span class="glyphicon glyphicon-plus"></span>
				</a>
  			</td>
 			<td class="col-xs-6 col-md-2">
 				<label id="price"  th:text="${#numbers.formatDecimal(__${item.price}__,0,2,'POINT')}"></label>
 			</td>
 			<td class="col-xs-6 col-md-2">
  				<label id="totalPrice" th:text="${#numbers.formatDecimal(__${item.quantity * item.price}__,0,2,'POINT')}"></label>
 			</td>
 			<td  class="col-xs-6 col-md-4 ">
				<div th:replace="fragments/remove :: remove(${item.itemId})"></div>
			</td>
		</tr>
		
		
	</table>
	<button type="submit" >Check out</button>
	 	</form>
</section>

</html>