
<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/layout">
 
<section layout:fragment="content">
<div class="category">
 <div class="category-title">
 	 <a   th:if="${category.parent!=null}" th:href="@{/category/{catId}(catId=${category.parent.id})}"	th:text="${category.parent.description}+' /'"></a>
	
	<span th:text="${category.description}"></span>
	</div>
<!-- 	  <div class="subcat" th:each="childCategory : ${category.childCategories}" > -->
<!-- 	  <a   th:href="@{/category/{catId}(catId=${childCategory.id})}"	th:text="${childCategory.description}"></a> -->
<!--  	  </div> -->
<!--   <div class="clearfix"></div> -->
  	<div th:replace="fragments/categories :: categories"></div>
  
	<div  th:replace="book/display_min :: displayBookMin"></div>
	
 </div>
</section>
</html>