<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/layout">

<section layout:fragment="content">
 

	<div class="category-menu" th:fragment="categories">
	
     <nav id="menu">
        <ul class="parent-menu">
           <li class="menu-title">ΑΝΑ ΚΑΤΗΓΟΡΙΑ</li>
            <li th:each="category : ${categories}" ><a   th:href="@{/category/{catId}(catId=${category.id})}"	th:text="${category.description}">Support</a>
                <ul class="submenu">
                    <li th:each="subCategory : ${category.childCategories}"><a th:href="@{/category/{subId}(subId=${subCategory.id})}" th:text="${subCategory.description}">Contact Us</a></li>
                </ul>
            </li>
        </ul>
    </nav>
	</div>
</section>
</html>