 
  
    <!-- /*  Multiple fragments may be defined in one file */-->
   
    <div th:fragment="footer" class="footer">
      &copy; 2013 Footers1
    </div>
    <div th:fragment="footer-admin">
      &copy; 2013 Admin Footer
      </div>
  