<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/layout">


<div class="navbar navbar-inverse" th:fragment="header">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse"
				data-target=".nav-collapse">
				<span class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">My project</a>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li class="active"><a href="#" th:href="@{/}">Home</a></li>
				<li><a href="#" th:href="@{/message}">Messages</a></li>
				<li><a href="#" th:href="@{/task}">Tasks</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li>
					<a href="/signin" th:href="@{/signin}">Sign in</a>
				</li>
				<li>
					<a th:href="@{/cart}">
						<span class="glyphicon glyphicon-shopping-cart"></span>
						<span th:text="#{cart.descr}"></span>
						<span class="badge" id="items" th:text="${session.shoppingCart}? ${#lists.size(session.shoppingCart.items)} : 0"></span>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
</html>
