<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"	xmlns:th="http://www.thymeleaf.org"> 
<script th:inline="javascript">

	
</script>
	<div th:fragment="remove(itemID)">
	 
	 <a id="removeItemLink" th:href="@{/cart/remove/{id}(id=${itemID})}">Remove</a>
	 
<!--     <p th:text="${content}"></p> -->
    
 
</div>
</html>
	