<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<div class="searchBar" th:fragment="searchBar">

	<form id="searchForm" th:action="@{/search/}" th:object="${query}"
		method="post">
		<div class="search-bar">
 			<input type="text"   class="search-field" th:field="${query.query}" /> 
 			<select class="search-ddc"  id="type" >
                <option value="" th:text='Ολα΄'></option>
                 <option value="" th:text='Βιβλία'></option>
                 <option value="" th:text='Συγγραφείς'></option>
<!--                 <option th:each="p : ${productList}" th:value="${p.id}"  th:text="${p.name}"></option> -->
            </select>
 			<input type="submit" class="btn custom-btn green-btn search-btn" role="button" th:value='SEARCH' />
 			<div class="clearfix"></div>
		</div>
	</form>
</div>
</html>
